<h1>Theme#show</h1>
<p>Find me in app/views/theme/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @themes.name %>
</p>

<% @themes.posts.each do |post| %>
  <h3><%= post.content %></h3>
  <p><%= post.user.username %></p>

  <%= form_for(@star) do |f| %>
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id %>
    <%= f.submit %>
  <% end %>

<% end %>



<h2>Add a comment:</h2>
<%= render 'form' %>