<h1>Theme#show</h1>
<p>Find me in app/views/theme/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @themes.name %>
</p>

<% @themes.posts.each do |post| %>
  <h3><%= post.content %></h3>
  <p><%= post.user.username %></p>
  <p><%= post.id %></p>

  <%= form_for @star, :remote => true do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.hidden_field :user_id, value: post.user.id %>
    <% if current_user.present? %>
      <%= f.hidden_field :current_user_id, value: current_user.id %>
    <% end %>
    <%= f.submit %>
  <% end %>


<% end %>



<h2>Add a comment:</h2>
<%= render partial: 'layouts/form' %>