  <div class="sec1">
    <div class="sec1_wrapper">
      <p class="page_title">THEME</p>
      <!-- get the theme of the day -->
      <h1><%= @themes.name %></h1>
      <p><%= @themes.posted_at %></p><!--日付取得 -->

      <!-- post form the day -->
      <%= render partial: 'layouts/form' %>

      <ul class="sort">
        <li><a href="" >投稿順</a></li>
        <li><a href="" >人気順</a></li>
      </ul>

      <!-- repeat 10 posts to the theme of the day -->
      <% @themes.posts.each do |post| %>
      <ul class="posts">
        <li>
          <ul class="like">
          <li>
          <%= link_to post.user.username, user_path(post.user) %>
          </li>
          <li>
            <%= form_for @star, :remote => true do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.hidden_field :user_id, value: post.user.id %>
              <% if current_user.present? %>
                <%= f.hidden_field :current_user_id, value: current_user.id %>
              <% end %>
              <%= image_submit_tag("like_button.png", class: 'img_fav') %>
          <% end %>
          </li>
          <li>
          <%= post.stars.count %>
          </li>
          </ul>
          <p class="content"><%= post.content %></p>
        </li>
      </ul>
      <% end %>
      <!-- end of the repeat -->
    </div>
  </div>
</div>