<div class="wrapper">
  <div class="top">
  <div class="top_image">
    <img src="images/logo.jpg" class="logo">
    <p class="text1">１日ひとつ、考えるテーマを提供するメールマガジン。</p>
    <p class="text2">あなたの考えを保存し、様々な考えに触れるWebサイト。</p>
     <% if current_user == @users %>
    <p class="button_start"><a href="<%= new_user_registration_path %>" class="start">はじめる（無料）</a></p>
    <% end %>
  </div>
  </div>

  <div class="sec1">
    <div class="sec1_wrapper">
      <!-- get the theme of the day -->
      <h1><%= @themes.name %></h1>
      <p><%= @themes.posted_at %></p>
      

      <!-- post form the day -->
      <%= render partial: 'layouts/form' %>

      <ul class="sort">
        <li><a href="" >投稿順</a></li>
        <li> | </li>
        <li><a href="" >人気順</a></li>
      </ul>

      <!-- repeat 10 posts to the themes of the day -->
      <% @themes.posts.each do |post| %>
      <ul class="posts">
        <li>
          <p class="like">
          <%= link_to post.user.username, user_path(post.user) %>
            <%= form_for @star, :remote => true do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.hidden_field :user_id, value: post.user.id %>
              <% if current_user.present? %>
                <%= f.hidden_field :current_user_id, value: current_user.id %>
              <% end %>
              <%= image_submit_tag("like_button.png", class: 'img_fav') %>
          <% end %>
          <%= post.stars.count %>
          </p>
          <p class="content"><%= post.content %></p>
        </li>
      </ul>
      <% end %>
      <!-- end of the repeat -->
    </div>

  </div>
</div>