  <div class="sec4_wrapper">
  <div class="for_mobile">
    <% if current_user == @users %>
      <%= link_to 'アカウント管理', edit_user_registration_path, :class => 'manage' %>
    <% end %>
    <table>
       <tr>
         <th>POST</th>
         <th>LIKE</th>
       </tr>
       <tr>
         <td><%= @users.posts.count %></td>
         <td><%= @users.stars.count %></td>
       </tr>
     </table>
     <p class="username"><%= @users.username %></p>
     <p class="navi">さんのマイページ</p>
  </div>
<ul class="posts">
<li class="each_post">
<% @posts.each do |post| %>
  <p class="title"><%= link_to post.theme.name, theme_path(post.theme) %></p>
  <div class="date_like">
  <span class="date"><%= post.updated_at %></span>
  <ul class="like">
    <li>
      <%= form_for @star, :remote => true do |f| %>
    </li>
    <li>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.hidden_field :user_id, value: post.user.id %>
      <% if current_user.present? %>
      <%= f.hidden_field :current_user_id, value: current_user.id %>
      <% end %>
      <%= image_submit_tag("like_button.png", class: "img_fav") %>
      <% end %>
    </li>
    <li>
      <%= post.stars.count %>
    </li>
  </ul>
  </div>
  <div class="content_wrap">
    <p class="content"><%= post.content %></p>
  <% if current_user == @users %>
  <p class="edit">
    <%= link_to '編集', edit_post_path(post) %> |
    <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  </div>
<% end %>
</li>

</ul>
    </div>

  </div>
</div>
</div>