<script type="text/javascript">
$(document).ready(function(){
    $(".button_post").hide();
    var flg = "close";
    $(".field").click(function(){
        $(".button_post").fadeIn();
        if(flg == "close"){
          flg = "open";
        }
    });
});
</script>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :theme_id, value: @themes.id %>
    <% if current_user.present? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  <div class="field">
    <%= f.text_area :content, :placeholder => "自分の考えを投稿する。" %>
  </div>
  <div class="button_post" id="hidden_post">
    <%= f.submit "POST", :class => 'post' %>
  </div>
<% end %>
